.input {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  border-radius: 15px;
  outline-style: none;
  caret-color: #888;
  font-weight: 300;
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.12);
}

@-moz-document url-prefix() {
  .input {
    background: rgba(0, 0, 0, 0.3);
  }
}

.input::placeholder{
  color: #777;
  text-indent: 5px;
}